    # Ignore system files
    Thumbs.db
    .DS_Store

    # Ignore node modules
    node_modules/

    # Ignore log files
    *.log

    # Ignore the build folder
    /dist

    # Ignore .env files
    .env

    # Ignore IDE specific files
    .idea/
    *.iml
    .vscode/
    *.suo
    *.user
    *.userosscache
    *.sln.docstates